@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Maitree:wght@300;500&family=Montserrat:ital,wght@0,600;1,300&family=Nanum+Gothic:wght@400;800&family=Rajdhani:wght@400;700&family=Titillium+Web:wght@300;900&display=swap');

:root{
    --primarycolor: #db2777;
    --darkgrey:#374151;
    --secondarycolor:#fce7f3;
}

body{
    
font-family: 'Maitree', serif;
   margin: 0;
}
hr {
    margin: 2rem 0rem;
}

/** spaces **/

/* .margin-md {
    margin: 2rem;
} */
.container{
    padding-left: 0rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
    /* text-align: center; */
}


.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    /* max-width: 160px;
    display: block; */
}

.link-primary{
    background-color: var(--primarycolor);
    border-radius: 1rem;
    color: white;
    margin: 1rem,1rem,1rem,0rem;
}

.link-secondary{
  border: 1px solid var(--primarycolor);
  color: var(--primarycolor);
  border-radius: 1rem;
}

.non_bullet{
    list-style: none;
}
.inline{
    display: inline;
    padding: 0rem, 1rem;
    margin: 0rem, 2rem;
}


.navigation{
    background-color:var(--primarycolor);
    color: white;
    padding: 2rem;
    border-bottom-left-radius: 2rem;
}

/* not working */
.navigation_1{
    font-weight: bold;
    font-size: larger;
    
}

.nav-right{
    text-align: right;
}
.navigation .link{
    color: white;
}

/* not working */
.navigation .link-active{
    font-weight:  bold;
}

.head{
    padding: 2rem;
    padding-top: 5rem;
}

.head-img{
    max-width: 350px;
    margin: auto;
    display: block;
}

.head-header{
    max-width: 760px;
    margin: auto;
    text-align: center;
    padding-top: 2rem;
    color: var(--darkgrey);
}

.head-color{
    color: var(--primarycolor);
}

.mid{
    padding: 2rem;
    
}

.center{
    text-align: center;
    color: var(--darkgrey);
}

/* .white{
    background-color: white;
}

.section{
    margin: auto;
    max-width: 600px;
} */

.off-white{
    background-color: var(--secondarycolor);
}


.foot{
    background-color: var(--primarycolor);
    padding: 2rem;
    border-top-right-radius: 2rem;
}

.small{
    display: block;
    text-align: center;
    color: white;
    font-size: larger;
    font-weight: bold;
}
.foot .nav-mid{
   text-align: center; 
   padding-left: 0px;
}

.foot .color{
    color: white;
}


/* About */

.ul-pad{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin: 0rem;
}

.ul-pad1{
    padding-top: 0.5rem;
    padding-bottom: 0rem;
}

